body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f4f6f8;
}

.arrow-icon {
  font-size: 2rem;
  margin: 20px;
  color: #3f51b5;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.form-container {
  width: 34vw;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-input{
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.form-input input{
   height: 4.5vh;
  outline: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.form-input select{
  width: 20vw;
  height: 4.5vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 13px;
}
.form-input textarea{
  height: 20vh;
  font-size: 0.7rem;
  outline: none;

}
.input {
  width: 18vw;
  display: flex;
  flex-direction: column;
}
.input input{
  height: 4.5vh;
  outline: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
select{
  width: 18vw;
  height: 4vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  outline: none;
  font-size: 13px;
}

label {
  font-weight: 600;
  color: #555;
}
.field-label{
  color: #333;
   font-family: 'Inter', 'Roboto', 'Segoe UI', sans-serif;
  font-weight: 700;
}
.container1{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 20vh;
}
.input-selection{
   width: 15vw;
  display: flex;
  flex-direction: column;
}
.input-selection select{
  width: 15vw;
  height: 4vh;
  outline: none;
  font-size: 12px;
}
.input-selection label{
  color: #000000;
}
.add-btn{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-checkbox{
  width: 18vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-checkbox{
  transform: scale(0.95);
}