.job-details-container {
    width: 100%;
    height: 100%;
    background: #f2fafe;
    font-size: 15px;
}
.apply-button:hover {
    background-color: #0056b3;
}
.job-details-wrapper{
  display: flex;
  flex-direction: row;
}
.job-details{
    min-width: 60vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.details{
    font-size: 13px;
    color: rgb(95, 95, 95);
}
.job-details-header{
    width: 95%;
    height: 15vh;
    border: 1px solid  #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.job-details-body{
    width: 95%;
    min-height: 55vh;
    border: 1px solid  #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    overflow-y: auto;
    background-color: white;
}
.job-details-body p + p{
margin-top: 10px;
}
.highlight{
    font-size: 15px;
    color:rgb(79, 79, 79);
}
.auth-card{
  position: relative;
  width: 40vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  /* background-color: #fff; */
}
.jd-close-btn {
  height: 4vh;
  width: 2vw;
  position: absolute;
  left: 21rem;
  top: 0.1rem;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}
