.job-container {
    /* max-width: 800px; */
    /* margin: 20px auto; */
    width: 100vw;
    /* padding: 20px; */
    font-family:  "Poppins", sans-serif;
    background-color: #dde6f7;
    border-radius: 12px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  }
  
  .job-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  

.job-header{
    height: 8vh;
    display: flex;
    align-items: center;
}



  