.application_container{
    width: 100vw;
    height: 100vh;
    /* background-color: #f5f5f5; */

}
.input_box{
    left: 2%;
    position: relative;
    width: 35%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* background-color: #f5f5f5; */
}
.input_box input{
 width: 65%;
 height: 5vh;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 0 10px;
}
.job-type{
    background-color: #f5f5f5;
}
.resume input{
    border: none;
    height: 4vh;
    display: none;
}
.resume_box{
    width: 65%;
    height: 80%;
    display: flex;
    align-items: center;
}

.resume_upload{
    font-size: 35px;
    display: flex;
    align-items: center;
    width: 15%;
    cursor: pointer;
}
.a-job-header{
   width: 30vw;
   padding: 1% 0% 1% 2%;
}
.uploaded-filename {
    margin-top: 6px;  /* Space between input and filename */
    font-size: 14px;
    color: #333;
    font-style: italic;
    display: block;
  }